// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// You can use Sass (SCSS) here: http://sass-lang.com/
    table th {
        background-color: #fbc25b;
        padding: 10px 20px;
    }
 
    table td {
        background-color: #f9ecd5;
        padding: 10px 20px;
    }
 
    .notice {
        background-color: #ccf;
        padding: 5px;
    }
    
    .room-box {
     margin:10px;   
     float:left;
     width: 500px;
     height: auto;
     border-radius: 10px;
     border: 1px #ccf solid;
     }
     
     
     .room {
      display:flex;
      width: 700px;
      height: auto;
      border-radius: 10px;
      border: 1px #ccf solid;
     }
     .room-image {
      width: 400px;
      height: auto;
     }
     
     
     
     * {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.room-box {
  
  width: 600px;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px #ddd solid;
}

.box-inner {
  padding: 20px 26px;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 10px;
  padding-bottom: 4px;
  color: #111111;
}




.box-name label {
  font-weight: 700;
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.box-name input {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}



span {
  border-radius: 30px;
  border: 2px #F82808 solid;
  background-color:#F82808 ;
  color:#fff;
  padding:5px;
  font-size:10px;
  
}

.box-login input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border-radius: 3px;
  border: 1px #a88734 solid;
}

.box-login input[type="submit"]:hover {
  cursor: pointer;
  background: #f0c14b;
}


.box-category { 
    color:#880AF7;
    font-size:15px;
    font-weight:bold;
}